/* ComplaintsDetails.scss */

.complaints-table-list {
    margin: 20px 0;
  
    .complaints-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 15px;
      text-align: left;
  
     
      th, td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        
      }
  
      thead {
        background-color: #f4f4f4;
        
        th {
          font-weight: bold;
          text-transform: capitalize;
          
        }
        
      }
  
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f9f9f9;
          }
  
          &:hover {
            background-color: #f1f1f1;
          }
          
  
          td {
            &.complaint-table-actions {
              display: flex;
              justify-content: center;
              gap: 10px;
  
              .btn-edit-complaints,
              .btn-delete-complaints {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 14px;
                color: #555;
                transition: color 0.3s ease;
  
                &:hover {
                  color: #000;
                }
              }
  
              .btn-edit-complaints {
                color: #007bff;
  
                &:hover {
                  color: #0056b3;
                }
              }
  
              .btn-delete-complaints {
                color: #dc3545;
  
                &:hover {
                  color: #c82333;
                }
              }
            }
           
          }
        }
      }
    }
  }

  

